body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d3c6c6b1;
}
.header{
background-color: rgb(14, 41, 219);
color: white;
padding: 20px;
text-align: center;
font-size: 20px;
}
.container{
    width: 300px;
    height: 280px;
    margin-left: 40%;
    margin-top: 40px;
    border:3px solid rgb(10, 163, 61);
    border-radius: 10px;
    outline:3px dashed rgb(181, 28, 130);

}
.img{
width: 70%;
padding: 10px;
margin-left: 12%;
}
.text{
    color:black;
    padding: 10px;
}

.name{
    font-size: 20px;
    display: inline;
}
.Dis{
    font-size: 10px;
}
.buttons{
    margin-left: 25%;
 
}
.F{
    background-color: rgb(53, 91, 216);
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
}
.M{
    background-color:rgb(30, 219, 20);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: white;
    cursor: pointer;
}
.footer{
    background-color: black;
    color: white;
    margin-top: 30px;
    padding: 15px;
    text-align: center;
    font-size: 15px;
}